.order-success-container {
  max-width: 600px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.order-success-container h1 {
  color: darkblue;
  margin-bottom: 10px;
}

.order-summary {
  text-align: left;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
}

.order-summary h2 {
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}

.order-summary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-summary li {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  font-size: 14px;
}

.price-section {
  margin-top: 10px;
  font-size: 15px;
  text-align: right;
}

.price-section .total {
  font-weight: bold;
  color: #e76f51;
}

.order-actions {
  margin-top: 20px;
  text-align: center;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.order-actions .btn {
  background-color: aquamarine;
  color: #000;
  /* height: 35px; */
  padding: 7px 10px;
  border-radius: 6px;
  text-decoration: none;
   border-radius: 7px;
   
  /* transition: background 0.2s; */
}

.order-actions .btn:hover {
  background-color: #21867a;
}
